<!-- making use of two-way data binding 

    -- to do so:
    -- 1. import FormsModule in app.module.ts
    -- 2. add FormsModule to imports array in app.module.ts - this allows us to use FormsModule features in all of the imported components in that module.
    -- 3. use [(ngModel)] directive (feature available in FormsModule) in the input element to bind the input value to a component property.
 -->

<div>
    <input [(ngModel)]="newAppointmentTitle" placeholder="Appointment desctiption" />
    <input [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date" />
    <button (click)="addAppointment()" >Add</button>
</div>

<!-- use *ngFor="let value of values" to foreach loop -  we use one-way data binding using {{}} because we only want to read. We don't want to edit our appointments here.-->
<ul>
    <li *ngFor="let appointment of appointments; index as i">
       {{appointment.title}} {{appointment.date | date:'dd.MM.yyy'}}
       <button (click)="deleteAppointment(i)">delete</button>
    </li>
</ul>